@import "variables";

* {
    padding: 0;
    margin: 0.5px;
    font-size: $font-size;
}

.back {
    background-color: rgb(29, 66, 34);
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
}



.logo {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;


}

.titulo {
    color: $color-secundary;
    font-size: 4rem;
    height: 100px;
    background-color: $color-terciario;
}

.banner {
    max-width: 1938px;
    width: 100%;
    height: 30rem;
    background-color: black;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;

}

.main {
    height: 20px;
    width: fit-content;
}


.p1 {
    color: $color-secundary;
    font-size: medium;
    font-size: 1.5rem;
    text-align: center;


}
.p1:hover {
    text-decoration: underline;
}
.p:hover {
    text-decoration: underline;
}


.divpadre {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat (2, 1fr 1fr);
    justify-items: start;
    justify-content: space-around 10px;
    background-color: $color-terciario;
    justify-self: auto;


}


.display-3 {
    font-weight: 500;

}
/* SASS */
.menu
    ul {
    text-transform: uppercase;
    background-color: black;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
        li {
        display: inline-block;
        font-size: $font-size;

     }
   
    
     



}   
header {
    background-image: linear-gradient(black, $color-primary);
    border: solid 2px;


}
.p {
    background-color: none;
    color: white;
    font-size: 1.2rem;
    width: 98%;
    padding: 10;
    box-sizing: none;
    text-justify: inter-word;
    word-spacing: 0.3cm;
    margin-left: 15px;


}
    

@media screen and (max-width: 769px) {
    .divpadre {
        grid-template-columns: repeat(1, 2fr);

    }

    .flexpadre {
        display: flex;
        flex-direction: column;
    }

    .divpadretienda {
        grid-column: auto;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .banner {
        max-width: 769px;
    }

    .contenido {
        font-size: $font-size;

        grid-row: auto;
        width: 90%;
        text-align: center;
        max-width: 90%;

    }

    .contenido2 {
        font-size: $font-size;
        grid-column: 1 / span 1;
        width: 90%;
        max-width: 100%;
    }

    .titulo {
        font-size: $font-title;
        

    }

    .body {
        font-size: $font-size;
    }

    .seccion {
        display: grid;
        grid-column: 2 / span 2;
        font-size: 18px;
        max-width: 100%;
        width: 100%;
    }

    .video {
        width: 100%;
        position: center;
    }

    .ul2 {
        font-size: $font-size;
    }

    .imgtienda {
        width: 100%;
        max-width: 100%;
    }


   

    .galeimgctr {
        max-width: 90%;

    }

    .galeimg {
        max-width: 90%;
    }
}


@media screen and (max-width: 400px) {
    .banner {
        width: 100%;
    }

    .divpadre {
        grid-template-columns: repeat(1, 1fr);

    }

    .flexpadre {
        display: flex;
        flex-direction: column;
    }

    .divpadretienda {
        grid-column: auto;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .contenido {
        font-size: 12px;
        grid-column: 1 / span 1;
        grid-row: auto;
        max-height: fit-content;
        width: 90%;
        text-align: center;
    }

    .titulo {
        font-size: $font-title;

    }

    .seccion {
        display: grid;
        grid-column: 1 / span 1;
        font-size: 10px;
        max-width: 100%;

    }

    .video {
        max-width: 100%;
    }

    .ul2 {
        font-size: 15px;
    }


    .imgtienda {
        width: 90%;
    }


    .galeimg {
        width: 90%;
        max-width: 90%;
    }

}






.seccion {

    background-color: cadetblue;
    width: fit-content;

    padding: 2rem;
    box-sizing: border-box;
    border-style: dashed;



}

.pfinal {
    color: goldenrod;
    text-decoration-color: blue;
    font-size: $font-size;
    text-align: center;
}







.galeimg {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border-style: dotted;
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;

}

.imgtienda {



    box-sizing: border-box;
    border-style: dotted;
    max-width: 400px;
    max-height: 300px;
    

}


.fa-instagram::before {
    font-size: 3rem;
}

.fa-facebook::before {
    font-size: 3rem;
}

.fa-twitter::before {
    font-size: 3rem;
}

.fa-tiktok::before {
    font-size: 3rem;
}




.imgtienda:hover {
    transform: scale(1.2, 1.2);
    border-color: green;
    
}

.imganim:hover {

    
    border-color: brown;
    transform: translate(20px);

}


.imglogo {
    transform: translate(0px, 47px);
}

.tituloanim:hover {
    color: black;
    transform: scale(1.2, 1.2);
    text-decoration: underline;

}

.textanim {
    transform: translate(-0px, -40px);
    font-size: 130%;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;

}

@keyframes efecto {
    0% {
        color: $color-primary;
    }

    25% {
        color: brown;
        font-size: 120%;
    }

    50% {
        color: $color-secundary;
        font-size: 120%;
    }

    75% {
        color: $color-text;
        font-size: 80%;
    }

    100% {
        color: $color-terciario;
        font-size: 140%;
    }
}

a:visited {
    color: $color-text;
}

@keyframes efecto2 {
    0% {
        border-color: antiquewhite;
    }

    25% {
        border-color: darkred;
    }

    50% {
        border-color: black;
    }

    75% {
        border-color: antiquewhite;
    }

    100% {
        border-color: darkred;
    }
}