@import "variables";
@import "button";

* {
    padding: 0;
    margin-left: 6.5px;
    font-size: $font-size;
    margin-right: 6.5px;
    box-sizing: border-box;
}

.back {
   
    flex-direction: column;
    background-color: $color-primary;
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
    min-width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
    background-image: linear-gradient($color-primary, $color-terciario);
    border: solid 2px;
}

.logo {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
   


}

.titulo {
    color: $color-secundary;
    font-size: 4rem;
    height: 100px;
    background-color: $color-terciario;
    &:hover {
        color: $color-text;
        text-decoration: underline;
    }
    
}


.banner {
    width: 100%;
    background-color: black;
    background-repeat: repeat;
    display: block;
    box-sizing: border-box;
    border-style: solid;
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;
    object-fit: cover;
   
   
  

}




.botones {
    margin-left: $margin-left;
    margin-right: $margin-right;
    
   

}
.botones {
    &:visited { }
    &:hover {color: $color-secundary; }
    &:active { }
  }

.botones-container {
 
    display: flex;  
    justify-content: center;
    align-items: center;
    height:200px;
      
}
    


.container-img {
    text-align: center;
}

.display-3 {
    font-weight: 500;

}

.header {
    background-image: linear-gradient($color-terciario, $color-primary);
    border: solid 2px;
        
        &__div {  }  
   
           
            &__ul {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                background-color: $color-terciario;
                padding: 1rem;
                font-size: 1.5rem;
                font-weight: 600;
                text-align: right;}
                   &__li {
                    display: inline-block;
                    font-size: $font-size;
            
                  }
           
             
       
    
}

    
@mixin parrafo ($background-color, $color, $font-size, $width, $padding, $box-sizing, $text-justify, $word-spacing, $margin-left, $text-align, $padding-top, $padding-bottom) {

    background-color: $background-color; 
    color: $color;
    font-size: $font-size;
    width: $width;
    padding : $padding;
    box-sizing: $box-sizing;
    text-justify: $text-justify;
    word-spacing: $word-spacing;
    margin-left: $margin-left;
    text-align: $text-align;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom
}
 
.row {
    justify-content: space-between;}
.p1 {
    @include parrafo (none, $color-terciario,1.5rem,98%,8,border-box,inter-word,0.4cm,10px, center, 1em,1em)
}
.p {
    @include parrafo (none, $color-terciario,1.2rem,98%,10,none,inter-word,0.3cm,15px, center,1em,1em)
}
.entradas {
    @include parrafo(none, $color-terciario , 1.3rem, 100%, 12,border-box, inter-word, 0.3cm,15px, center,1em,1em);
    text-align: center;
}

@media screen and (max-width: 769px) {
    .divpadre {
        grid-template-columns: repeat(1, 2fr);

    }

    .flexpadre {
        display: flex;
        flex-direction: column;
    }

    .divpadretienda {
        grid-column: auto;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .banner {
        max-width: 769px;
        object-fit: cover;
    }

    .contenido {
        font-size: $font-size;

        grid-row: auto;
        width: 90%;
        text-align: center;
        max-width: 90%;

    }

    .contenido2 {
        font-size: $font-size;
        grid-column: 1 / span 1;
        width: 90%;
        max-width: 100%;
        position: center;
    }

    .titulo {
        font-size: $font-title;
        

    }

 
    .seccion {
        display: flex;
        font-size: 18px;
        max-width: 100%;
        width: 100%;
        color: $color-secundary;
        position: center;
        height: 100%;
        
      
    }

    .video {
        width: 100%;
        position: center;
    }

    .ul2 {
        font-size: $font-size;
    }

    .imgtienda {
        width: 75%;
        max-width: 75%;
        align-items: center;
        display: block;
        margin: auto;
        padding: auto;
    }


    .galeimgctr {
        max-width: 90%;

    }

    .galeimg {
       justify-content: flex-end; 
       max-width: 750px;
       max-height: 400px;
    }
    .nosotros {
        max-width: 100%;
    }
    .entradas {
        font-size: 18px;
        max-width: 90%;
        width: 90%;
    }
    .footer {
        flex-wrap: wrap;
    }
  
}


@media screen and (max-width: 400px) {
    .banner {
        width: 100%;
        object-fit: cover;
    }

    .divpadre {
        grid-template-columns: repeat(1, 1fr);

    }

    .flexpadre {
        display: flex;
        flex-direction: column;
    }

    .divpadretienda {
        grid-column: auto;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .contenido {
        font-size: 16px;
        grid-column: 1 / span 1;
        grid-row: auto;
        max-height: fit-content;
        width: 90%;
        text-align: center;
    }

    .titulo {
        font-size: $font-title;

    }

    .seccion {
        display: flex;
        font-size: 1em;
        max-width: 100%;
        color: $color-secundary;

    }
    .section {
        align-self: center;
    }
    .video {
        max-width: 100%;
    }

    .ul2 {
        font-size: 15px;
    }


    .imgtienda {
        width: 100%;
        align-items: center;
    }


    .galeimg {
        max-width: 380px;
        max-height: 200px;
        justify-content: flex-end;
    }

    .entradas {
        margin-left: 0;
        font-size: 18px;
    }
    .textanim {
        font-size: 10px;
        max-width: 90%;
    }
    .nosotros {
        max-width: 100%;
    }
    .footer {
        flex-wrap: wrap;
    }
}


.nosotros {
    display: flex;
    justify-content: center;
}



.seccion {
    display: flex;
    background-color: $color-terciario;
    color: $color-secundary;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
   




}

.pfinal {
    color: $color-terciario;
    text-decoration-color: blue;
    font-size: $font-size;
    text-align: center;
    padding-top: 1rem;
}







.galeimg {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;
    padding-top: 10px;
    padding-bottom: 10px;

}

.imgtienda {


    display: inline-block;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 300px;
    

}


.fa-instagram::before {
    font-size: 3rem;
    color: $color-text;
}

.fa-facebook::before {
    font-size: 3rem;
    color: $color-text;
}

.fa-twitter::before {
    font-size: 3rem;
    color: $color-text;
}

.fa-tiktok::before {
    font-size: 3rem;
    color: $color-text;
}




.imgtienda:hover {
    transform: scale(1.2, 1.2);
    border-color: green;
    
}

.imglogo {
    transform: translate(0px, 47px);
}



.textanim {
    transform: translate(35px, 10px);
    font-size: 100%;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;

}

@keyframes efecto {
    0% {
        color: $color-primary;
    }

    25% {
        color: brown;
        
    }

    50% {
        color: $color-secundary;
      
    }

    75% {
        color: $color-text;
       
    }

    100% {
        color: $color-terciario;
     
    }
}

a:visited {
    color: $color-text;
}

@keyframes efecto2 {
    0% {
        border-color: antiquewhite;
    }

    25% {
        border-color: darkred;
    }

    50% {
        border-color: black;
    }

    75% {
        border-color: antiquewhite;
    }

    100% {
        border-color: darkred;
    }
}