<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>


<body class="back">
    <header>
        <nav>
            <div>
                <img src="../img/mologo.jpg" alt="Logo Molotov" height="100" class="logo">
            </div>
            <ul style="text-decoration: none; text-transform: uppercase ; background-color: black; color: white; padding: 1rem; font-size: 1.5rem; font-weight: 600;
    text-align: right">
                <li style="display: inline-block"><a href="../index.html">Home</a></li>
                <li style="display: inline-block"> <a href="./tienda.html"> Tienda</a></li>
                <li style="display: inline-block"><a href="./galeria.html"> Galeria </a></li>
                <li style="display: inline-block">Contacto</li>
                <li style="display: inline-block"><a href="./nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main id="arriba">
        <p><a href="#abajo">Ir abajo</a></p>
    </main>
    <nav> <img class="banner" src="../img/banner2.jpg" alt="Banner"></nav>
    <h1 class="p1">En esta sección encontrarás la mejor manera de contactarte con nosotros</h1>
    <form>
        <P>
        <label for="nombre">Nombre: </label>
                  <input type="text" id="nombre"><br>
        <label for="apellido">Apellido: </label>
                  <input type="text" id="apellido"><br>
        <label for="email">Email: </label>
                  <input type="text" id="email"><br>
      
        <input type="submit" value="Enviar"> <input type="reset">
        </P>
    </form></nav>
    <p>El tiempo de respuesta oscila entre las 24hs y las 72hs.</p>
    <footer id="abajo">
        <p><a href="#arriba"> Ir arriba</a></p>



    </footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>