<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Accede a nuestros formularios de contacto">
    <meta name="keywords" content="Contrataciones Molotov Giras" >
    <title>Contacto</title>
    <script src="https://kit.fontawesome.com/2a44f8d049.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<!--Inicio Body-->
<body class="back">
    <!--Inicio Navegacion-->
    <header class="container-fluid gradienteback">
        <nav>
            <div class="row menu">
            <a href="/index.html">    
                <img src="../img/mologo.jpg" alt="Logo Molotov" class="logo imglogo">
            </a>
            <ul class="header__ul  ">
                <li  class="header__li"><a href="../index.html">Home</a></li>
                <li  class="header__li"> <a href="./tienda.html"> Tienda</a></li>
                <li class="header__li"><a href="./galeria.html"> Galeria </a></li>
                <li class="header__li">Contacto</li>
                <li class="header__li"><a href="./nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <!-- Inicio Main-->
    <main id="arriba">
        <h1 class="titulo tituloanim text-center text-uppercase display-3 font-weight-bold mt-1">Molotov</h1>
        <p><a href="#abajo">Ir abajo</a></p>
   
    <nav> <img class="banner" src="../img/banner2.jpg" alt="Banner"></nav>
    <h2 class="p1">En esta sección encontrarás la mejor manera de contactarte con nosotros</h2>
    <form>
        <P>
        <label for="nombre">Nombre: </label>
                  <input type="text" id="nombre" class="form-control my-3" placeholder="Juan"><br>
        <label for="apellido">Apellido: </label>
                  <input type="text" id="apellido" class="form-control my-3" placeholder="Pérez"><br>
        <label for="email">Email: </label>
                  <input type="text" id="email"class="form-control my-3"placeholder="ejemplo@mail.com"><br>
                <div class="botones-container">
                  <button class="botones btn btn-success btn-outline-light">Enviar</button><button class="botones btn btn-success btn-outline-light">Restrablecer</button>
                </div>      
        </P>
    </form></nav>
    <p>El tiempo de respuesta oscila entre las 24hs y las 72hs.</p>
    </main>
    <!-- Footer -->
    <footer  class="footer" id="abajo">
        <p><a href="#arriba"> Ir arriba</a></p>
        <a href="index.html">
        <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-tiktok"></i></a>
    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>


</html>