<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <script src="https://kit.fontawesome.com/2a44f8d049.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/estilos.css">
</head>

<body class="back">
    <header class="container-fluid gradienteback">
        <nav>
            <div class="row">
            <a href="/index.html">    
                <img src="../img/mologo.jpg" alt="Logo Molotov" class="logo imglogo">
            </a>
            <ul class="flexpadre menusuperior">
                <li style="display: inline-block"><a href="../index.html">Home</a></li>
                <li style="display: inline-block"> <a href="./tienda.html"> Tienda</a></li>
                <li style="display: inline-block"> Galeria </li>
                <li style="display: inline-block"><a href="./contacto.html">Contacto</a></li>
                <li style="display: inline-block"><a href="./nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main id="arriba">
        <h1 class="titulo tituloanim text-center text-uppercase display-3 font-weight-bold mt-4">Molotov</h1>
        <p><a href="#abajo">Ir abajo</a></p>
    </main>
    <nav> <img class="banner" src="../img/banner2.jpg" alt="Banner"></nav>
    <h1 class="p1"> Aquí encontrarás todas las imagenes de Molotov y nuestros discos</h1>
    <section> Discos Ordenados Cronológicamente:
        <aside>
            <ul>
                <li> 1997: ¿Dónde jugarán las niñas?</li>
                <li> 1998: Molomix</li>
                <li> 1999: Apocalypshit</li>

                <li> 2003: Dance and dense denso</li>

                <li>2004: Con todo respeto</li>

        </aside>
    </section>
    <nav>
        <img src="../img/DJLN.jpeg" alt="Donde Jugarán Las Niñas" class="galeimg" ; width="15%">
        <img src="../img/Molomix.jpg" alt="Molomix" class="galeimg" ; width="14.7%">
        <img src="../img/Apocalypshit.jpg" alt="Apocalypshit" class="galeimg" ; width="14.7%">
        <img src="../img/DADD.jpg" alt="Dance and Dense Denso" class="galeimg" ; width="14.7%">
        <img src="../img/CTR.jpg" alt="Con todo respeto" class="galeimg" ; width="26%">


    </nav>
    <h2>Próximamente Videos!</h2>
    <footer id="abajo">
        <p><a href="#arriba"> Ir arriba</a></p>
        <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-tiktok"></i>



    </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>