<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>

<body class="back">
    <header>
        <nav>
            <div>
                <img src="../img/mologo.jpg" alt="Logo Molotov" height="100" class="logo">
            </div>
            <ul style=" text-transform: uppercase ; background-color: black; color: white; padding: 1rem; font-size: 1.5rem; font-weight: 600;
    text-align: right">
                <li style="display: inline-block"><a href="../index.html">Home</a></li>
                <li style="display: inline-block"> <a href="./tienda.html"> Tienda</a></li>
                <li style="display: inline-block"> Galeria </li>
                <li style="display: inline-block"><a href="./contacto.html">Contacto</a></li>
                <li style="display: inline-block"><a href="./nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main id="arriba">
        <p><a href="#abajo">Ir abajo</a></p>
    </main>
    <nav> <img class="banner" src="../img/banner2.jpg" alt="Banner"></nav>
    <h1 class="p1"> Aquí encontrarás todas las imagenes de Molotov y nuestros discos</h1>
    <section> Discos Ordenados Cronológicamente:
        <aside>
            <ul>
                <li> 1997: ¿Dónde jugarán las niñas?</li>
                <li> 1998: Molomix</li>
                <li> 1999: Apocalypshit</li>

                <li> 2003: Dance and dense denso</li>

                <li>2004: Con todo respeto</li>

        </aside>
    </section>
    <nav>
        <img src="../img/DJLN.jpeg" alt="Donde Jugarán Las Niñas" class="galeimg" ; width="15%">
        <img src="../img/Molomix.jpg" alt="Molomix" class="galeimg" ; width="14.7%">
        <img src="../img/Apocalypshit.jpg" alt="Apocalypshit" class="galeimg" ; width="14.7%">
        <img src="../img/DADD.jpg" alt="Dance and Dense Denso" class="galeimg" ; width="14.7%">
        <img src="../img/CTR.jpg" alt="Con todo respeto" class="galeimg" ; width="26%">


    </nav>
    <h2>Próximamente Videos!</h2>
    <footer id="abajo">
        <p><a href="#arriba"> Ir arriba</a></p>



    </footer>
</body>

</html>