<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <script src="https://kit.fontawesome.com/2a44f8d049.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body class="back">
    <header class="container-fluid gradienteback">
        <nav>
            <div class="row">
                <a href="/index.html">
                    <img src="../img/mologo.jpg" alt="Logo Molotov" class="logo imglogo">
                </a>
                <ul class="flexpadre menusuperior">
                    <li class="menusuperiorli"><a href="../index.html">Home</a></li>
                    <li class="menusuperiorli"> Tienda</li>
                    <li class="menusuperiorli"><a href="./galeria.html"> Galeria </a></li>
                    <li class="menusuperiorli"><a href="./contacto.html">Contacto</a></li>
                    <li class="menusuperiorli"><a href="./nosotros.html">Nosotros</a></li>
                </ul>
        </nav>
        </div>
    </header>
    
        <main id="arriba">
            <h1 class="titulo tituloanim text-center text-uppercase display-3 font-weight-bold mt-1">Molotov</h1>
            <div>
                <p><a href="#abajo">Ir abajo</a></p>
                <img class="banner" src="../img/banner2.jpg" alt="Banner">
            </div>


    
   
        <h1 class="p1">En esta sección encontrarás todos los productos que necesitas para ser un verdadero fan de
            Molotov
        </h1>
    </nav>
    <div class="row container-fluid">
        <div class="col-sm-3">
        <img class="imgtienda" src="../img/remera.jpg" alt="Remera de Molotov" >
        </div>
        <div class="col-sm-3">   
        <img class="imgtienda" src="../img/remera2.jpg" alt="Remera de Molotov2" >
        </div>
        <div class="col-sm-3"> 
        <img class="imgtienda" src="../img/buzo.jpg" alt="Buzo de Molotov" >
        </div>
    </div>
    <legend>Elige el tipo</legend>
    <label>
        <input type="radio" name="Tipo" value="Remera N°1"> Remera N°1
    </label>
    <label>
        <input type="radio" name="Tipo" value="Remera N°2"> Remera N°2
    </label>
    <label>
        <input type="radio" name="Tipo" value="Buzo"> Buzo
    </label>

    <div>
        <legend>Elige la cantidad</legend>
        <label>
            <input type="radio" name="numero" value="1"> 1
        </label>
        <label>
            <input type="radio" name="numero" value="2"> 2
        </label>
        <label>
            <input type="radio" name="numero" value="3"> 3
        </label>
        <label>
            <input type="radio" name="numero" value="4"> 4
        </label>
        <button class="btn btn-success btn-outline-light">Enviar</button><button
            class="btn btn-success btn-outline-light">Restrablecer</button>
        </form>
        <p>Los productos están sujetos a disponibilidad de stock</p>
        <footer id="abajo">
            <p><a href="#arriba"> Ir arriba</a></p>
            <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i><i
                class="fa-brands fa-twitter"></i><i class="fa-brands fa-tiktok"></i>
    </div>
    </main>

    </footer>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>